/*  your css code here. If applicable */
*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}
.container{
	margin:auto;
	width:50vw;
	height:90vh;
	padding:10px;
	overflow:auto;
	background-color:#f6f6f6;
	border-radius:2px;
	 box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2), -3px 5px 5px rgba(0, 0, 255, 0.2);
	/* box-shadow:20px 0 1px #f6f6f6 ,0 0 15px #f6f6f6 ; */
}
#btn{
	background-color:aqua;
	display:block;
	margin:auto;
	border-radius:6px;
	width:100px;
	height:30px;
	color:black;
	font-style:arial;
}
h1{
	text-align:center;
}
p{
	padding:5px;
	text-align:center;
}